<div class="app-container">
  <app-navbar 
  (expandEvent) = "expandFunc($event)" 
  (createEvent) = "createFunc($event)" 
  (deleteEvent) = "deleteFunc($event)" 
  (searchEvent) = "searchFunc($event)" 
  (updateSearchEvent) = "updateSearchFunc($event)"
  [selectedNote] = "this.selectedNote"
  [isSearching] = "this.isSearching"
  [findResult] = "this.findResult"
  >
  </app-navbar>
  <div class="two-container">

    <app-sidebar 
    *ngIf = "this.expand" 
    [notes] = "this.notes" 
    [selectedNote] = "this.selectedNote" 
    [isSearching] = "this.isSearching"
    [findResult] = "this.findResult"
    [search] = 'this.search'
    (selectNoteEvent) = "selectNoteFunc($event)" 
    > 
    </app-sidebar>
    <!-- <app-fake-editor *ngIf = "this.notes.length == 0">
    </app-fake-editor> -->
    <app-editor 
    *ngIf = "this.notes.length != 0" 
    [selectedNote] = "this.selectedNote"
    (updateEvent) = "updateFunc($event)" 
    >
    </app-editor>

  </div>
</div>